@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
    background-image: linear-gradient(to bottom right, #0F1A20, #141115);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: #875C74;
    font-family: 'Nothing You Could Do', cursive;
}

head{
    display: inline-block;
}

#middle{
    display: block;
}

#portrait{
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    margin-right: auto;
}

#picdescription{
    background-color: rgba(255, 248, 240, 0.4);
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    color: #141115;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#birthanddeath{
    text-align: left;
    padding-left: 10%;
    width: 20%;
    margin: 0;
    display: block;
    float: left;
    font-size: 2vw;
}

#quote{
    text-align: right;
    font-size: 2vw;
    width: 20%;
    display: block;
    float: right;
    padding-right: 10%;
    padding-top: 15%;
}

p{
    margin: 0px;
}

h1{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 3vw;
    color: #698996;
}